#root {
  --base-font: sans-serif;
  --color-fg: #000000;
  --color-bg: #ff0000;

}

body {
  height: 100%;
  font-family: var(--base-font);
  color: var(--color-bg);
  background-color: var(--color-fg);
  text-align: center;
}


.container {
  padding-top: 45rem;
  padding-bottom: 25rem;
  margin-right: auto;
  margin-left: auto;

  background: url("/stars-bg.jpg") center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #EBD71C;
  background-color: #000;
  overflow: hidden;
  position: relative;

}